---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
pd.DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], columns=["State", "RegionName"]  )

      State  RegionName
0  Michigan   Ann Arbor
1  Michigan  Yipsilanti

In [164]:
with open("university_towns.txt") as file:
    temp_list = []
    file.readline()
    for line in file:
        temp_list.append(line[:-1])
        
df_dict = {}
state_list = []
#df_dict["State"] = []
#df_dict["RegionName"] = []

for item in temp_list:
    item = item.replace('â€“','-')
    if item in states.values():
        state_list.append(item)

for item in temp_list:
    if item in state_list:
        state = item
        df_dict[state] = []
        continue
        
    if "[" in item and "(" in item:
        idx_1 = item.index("[")
        idx_2 = item.index("(")-1
        idx_first = min(idx_1, idx_2)
        new_item = item[:idx_first]
        
        df_dict[state].append(new_item)
                
    elif "(" in item:
        new_item1 = item[:item.index("(")-1]
        df_dict[state].append(new_item1)
        
    elif "[" in item:
        new_item1 = item[:item.index("[")]
        df_dict[state].append(new_item1)
        
    elif ":" in item:
        item = item.strip(":")
    else:
        df_dict[state].append(item)

Alabama <class 'str'>
bu da state: Alabama
bu da state: Alabama
bu da state: Alabama
bu da state: Alabama
bu da state: Alabama
bu da state: Alabama
bu da state: Alabama
bu da state: Alabama
bu da state: Alabama
Alaska <class 'str'>
bu da state: Alaska
bu da state: Alaska
Arizona <class 'str'>
bu da state: Arizona
bu da state: Arizona
bu da state: Arizona
bu da state: Arizona
bu da state: Arizona
bu da state: Arizona
bu da state: Arizona
bu da state: Arizona
Arkansas <class 'str'>
bu da state: Arkansas
bu da state: Arkansas
bu da state: Arkansas
bu da state: Arkansas
bu da state: Arkansas
bu da state: Arkansas
bu da state: Arkansas
bu da state: Arkansas
bu da state: Arkansas
California <class 'str'>
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
bu da state: California
Colorado <class 'str'>
bu da state: Colorado
bu da state: Colorado
bu da state: Colorado
bu da state: Colorado
bu da state: Colorado
bu da state: Colorado
Connecticut <class 'str'>
bu da state: Connecticut
bu da state: Connecticut
bu da state: Connecticut
bu da state: Connecticut
bu da state: Connecticut
bu da state: Connecticut
Delaware <class 'str'>
bu da state: Delaware
bu da state: Delaware
District of Columbia <class 'str'>
bu da state: District of Columbia
Florida <class 'str'>
bu da state: Florida
bu da state: Florida
bu da state: Florida
bu da state: Florida
Georgia <class 'str'>
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
bu da state: Georgia
Hawaii <class 'str'>
bu da state: Hawaii
Idaho <class 'str'>
bu da state: Idaho
bu da state: Idaho
bu da state: Idaho
Illinois <class 'str'>
bu da state: Illinois
bu da state: Illinois
bu da state: Illinois
bu da state: Illinois
bu da state: Illinois
bu da state: Illinois
bu da state: Illinois
bu da state: Illinois
bu da state: Illinois
Indiana <class 'str'>
bu da state: Indiana
bu da state: Indiana
bu da state: Indiana
bu da state: Indiana
bu da state: Indiana
bu da state: Indiana
bu da state: Indiana
bu da state: Indiana
bu da state: Indiana
bu da state: Indiana
bu da state: Indiana
Iowa <class 'str'>
bu da state: Iowa
bu da state: Iowa
bu da state: Iowa
bu da state: Iowa
bu da state: Iowa
bu da state: Iowa
bu da state: Iowa
bu da state: Iowa
bu da state: Iowa
bu da state: Iowa
bu da state: Iowa
Kansas <class 'str'>
bu da state: Kansas
bu da state: Kansas
bu da state: Kansas
bu da state: Kansas
bu da state: Kansas
bu da state: Kansas
Kentucky <class 'str'>
bu da state: Kentucky
bu da state: Kentucky
bu da state: Kentucky
bu da state: Kentucky
bu da state: Kentucky
bu da state: Kentucky
bu da state: Kentucky
bu da state: Kentucky
Louisiana <class 'str'>
bu da state: Louisiana
bu da state: Louisiana
bu da state: Louisiana
bu da state: Louisiana
bu da state: Louisiana
bu da state: Louisiana
bu da state: Louisiana
Maine <class 'str'>
bu da state: Maine
bu da state: Maine
bu da state: Maine
bu da state: Maine
Maryland <class 'str'>
bu da state: Maryland
bu da state: Maryland
bu da state: Maryland
bu da state: Maryland
bu da state: Maryland
bu da state: Maryland
bu da state: Maryland
bu da state: Maryland
Massachusetts <class 'str'>
bu da state: Massachusetts
bu da state: Massachusetts
bu da state: Massachusetts
bu da state: Massachusetts
bu da state: Massachusetts
Michigan <class 'str'>
bu da state: Michigan
bu da state: Michigan
bu da state: Michigan
bu da state: Michigan
bu da state: Michigan
bu da state: Michigan
bu da state: Michigan
bu da state: Michigan
bu da state: Michigan
bu da state: Michigan
bu da state: Michigan
bu da state: Michigan
Minnesota <class 'str'>
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
bu da state: Minnesota
Mississippi <class 'str'>
bu da state: Mississippi
bu da state: Mississippi
bu da state: Mississippi
bu da state: Mississippi
bu da state: Mississippi
bu da state: Mississippi
Missouri <class 'str'>
bu da state: Missouri
bu da state: Missouri
bu da state: Missouri
bu da state: Missouri
bu da state: Missouri
bu da state: Missouri
bu da state: Missouri
bu da state: Missouri
Montana <class 'str'>
bu da state: Montana
bu da state: Montana
bu da state: Montana
Nebraska <class 'str'>
bu da state: Nebraska
bu da state: Nebraska
bu da state: Nebraska
bu da state: Nebraska
bu da state: Nebraska
bu da state: Nebraska
bu da state: Nebraska
Nevada <class 'str'>
New Hampshire <class 'str'>
bu da state: New Hampshire
bu da state: New Hampshire
bu da state: New Hampshire
bu da state: New Hampshire
New Jersey <class 'str'>
bu da state: New Jersey
bu da state: New Jersey
bu da state: New Jersey
bu da state: New Jersey
New Mexico <class 'str'>
bu da state: New Mexico
bu da state: New Mexico
bu da state: New Mexico
bu da state: New Mexico
bu da state: New Mexico
bu da state: New Mexico
New York <class 'str'>
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
bu da state: New York
North Carolina <class 'str'>
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
bu da state: North Carolina
North Dakota <class 'str'>
bu da state: North Dakota
bu da state: North Dakota
Ohio <class 'str'>
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
bu da state: Ohio
Oklahoma <class 'str'>
bu da state: Oklahoma
bu da state: Oklahoma
bu da state: Oklahoma
bu da state: Oklahoma
bu da state: Oklahoma
bu da state: Oklahoma
bu da state: Oklahoma
bu da state: Oklahoma
bu da state: Oklahoma
bu da state: Oklahoma
Oregon <class 'str'>
bu da state: Oregon
bu da state: Oregon
bu da state: Oregon
bu da state: Oregon
bu da state: Oregon
Pennsylvania <class 'str'>
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
bu da state: Pennsylvania
Rhode Island <class 'str'>
bu da state: Rhode Island
bu da state: Rhode Island
bu da state: Rhode Island
South Carolina <class 'str'>
bu da state: South Carolina
bu da state: South Carolina
bu da state: South Carolina
bu da state: South Carolina
bu da state: South Carolina
South Dakota <class 'str'>
bu da state: South Dakota
bu da state: South Dakota
Tennessee <class 'str'>
bu da state: Tennessee
bu da state: Tennessee
bu da state: Tennessee
bu da state: Tennessee
bu da state: Tennessee
bu da state: Tennessee
bu da state: Tennessee
Texas <class 'str'>
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
bu da state: Texas
Utah <class 'str'>
bu da state: Utah
bu da state: Utah
bu da state: Utah
Vermont <class 'str'>
bu da state: Vermont
bu da state: Vermont
bu da state: Vermont
bu da state: Vermont
bu da state: Vermont
bu da state: Vermont
Virginia <class 'str'>
bu da state: Virginia
bu da state: Virginia
bu da state: Virginia
bu da state: Virginia
bu da state: Virginia
bu da state: Virginia
bu da state: Virginia
bu da state: Virginia
bu da state: Virginia
bu da state: Virginia
bu da state: Virginia
Washington <class 'str'>
bu da state: Washington
bu da state: Washington
bu da state: Washington
bu da state: Washington
West Virginia <class 'str'>
bu da state: West Virginia
bu da state: West Virginia
bu da state: West Virginia
bu da state: West Virginia
bu da state: West Virginia
bu da state: West Virginia
bu da state: West Virginia
Wisconsin <class 'str'>
bu da state: Wisconsin
bu da state: Wisconsin
bu da state: Wisconsin
bu da state: Wisconsin
bu da state: Wisconsin
bu da state: Wisconsin
bu da state: Wisconsin
Wyoming <class 'str'>
bu da state: Wyoming

In [57]:
df = pd.DataFrame.from_dict(df_dict, orient='index')
df = df.T
# veya
df1 = pd.DataFrame({ key:pd.Series(value) for key, value in df_dict.items() })

In [64]:
final_list = []
for key, value in df_dict.items():
    for i in range(len(value)):
        final_list.append([key,df_dict[key][i]])
    
final_list

[['Alabama', 'Auburn'],
 ['Alabama', 'Birmingham'],
 ['Alabama', 'Dothan'],
 ['Alabama', 'Florence'],
 ['Alabama', 'Homewood'],
 ['Alabama', 'Huntsville'],
 ['Alabama', 'Jacksonville'],
 ['Alabama', 'Livingston'],
 ['Alabama', 'Mobile'],
 ['Alabama', 'Montevallo'],
 ['Alabama', 'Montgomery'],
 ['Alabama', 'Troy'],
 ['Alabama', 'Tuscaloosa'],
 ['Alabama', 'Tuskegee'],
 ['Alaska', 'Anchorage'],
 ['Alaska', 'Fairbanks'],
 ['Alaska', 'Juneau'],
 ['Alaska', 'Ketchikan'],
 ['Alaska', 'Sitka'],
 ['Arizona', 'Chandler'],
 ['Arizona', 'Flagstaff'],
 ['Arizona', 'Gilbert'],
 ['Arizona', 'Glendale'],
 ['Arizona', 'Lake Havasu City'],
 ['Arizona', 'Mesa'],
 ['Arizona', 'Peoria'],
 ['Arizona', 'Phoenix'],
 ['Arizona', 'Prescott'],
 ['Arizona', 'Scottsdale'],
 ['Arizona', 'Tempe'],
 ['Arizona', 'Tucson'],
 ['Arkansas', 'Arkadelphia'],
 ['Arkansas', 'Conway'],
 ['Arkansas', 'Fayetteville'],
 ['Arkansas', 'Fort Smith'],
 ['Arkansas', 'Jonesboro'],
 ['Arkansas', 'Little Rock'],
 ['Arkansas', 'Magnolia'],
 ['Arkansas', 'Monticello'],
 ['Arkansas', 'Russellville'],
 ['Arkansas', 'Searcy'],
 ['California', 'Acton'],
 ['California', 'Alhambra'],
 ['California', 'Anaheim'],
 ['California', 'Angwin'],
 ['California', 'Antioch'],
 ['California', 'Arcata'],
 ['California', 'Arden-Arcade'],
 ['California', 'Azusa'],
 ['California', 'Bakersfield'],
 ['California', 'Berkeley'],
 ['California', 'Burbank'],
 ['California', 'Camarillo'],
 ['California', 'Carson'],
 ['California', 'Cerritos'],
 ['California', 'Chico'],
 ['California', 'Chino Hills'],
 ['California', 'Chula Vista'],
 ['California', 'Claremont'],
 ['California', 'Clovis'],
 ['California', 'Compton'],
 ['California', 'Concord'],
 ['California', 'Corona'],
 ['California', 'Costa Mesa'],
 ['California', 'Cotati'],
 ['California', 'Davis'],
 ['California', 'Downey'],
 ['California', 'East Los Angeles'],
 ['California', 'El Cajon'],
 ['California', 'Elk Grove'],
 ['California', 'Escondido'],
 ['California', 'Fairfield'],
 ['California', 'Fresno'],
 ['California', 'Fullerton'],
 ['California', 'Garden Grove'],
 ['California', 'Glendale'],
 ['California', 'Hawthorne'],
 ['California', 'Hayward'],
 ['California', 'Huntington Beach'],
 ['California', 'Indio'],
 ['California', 'Inglewood'],
 ['California', 'Irvine'],
 ['California', 'Isla Vista'],
 ['California', 'Lancaster'],
 ['California', 'La Mesa'],
 ['California', 'La Verne'],
 ['California', 'Loma Linda'],
 ['California', 'Long Beach'],
 ['California', 'Los Angeles'],
 ['California', 'Chatsworth'],
 ['California', 'Downtown Los Angeles'],
 ['California', 'Mid-Wilshire'],
 ['California', 'Pico-Union'],
 ['California', 'University Park'],
 ['California', 'Westchester'],
 ['California', 'Malibu'],
 ['California', 'Merced'],
 ['California', 'Moreno Valley'],
 ['California', 'Murrieta'],
 ['California', 'Norwalk'],
 ['California', 'Oceanside'],
 ['California', 'Ontario'],
 ['California', 'Orange'],
 ['California', 'Oxnard'],
 ['California', 'Palmdale'],
 ['California', 'Palo Alto'],
 ['California', 'Pasadena'],
 ['California', 'Pleasant Hill'],
 ['California', 'Pomona'],
 ['California', 'Rancho Cucamonga'],
 ['California', 'Redding'],
 ['California', 'Redlands'],
 ['California', 'Ridgecrest'],
 ['California', 'Riverside'],
 ['California', 'Rocklin'],
 ['California', 'Roseville'],
 ['California', 'East Sacramento'],
 ['California', 'Oak Park'],
 ['California', 'Salinas'],
 ['California', 'San Bernardino'],
 ['California', 'San Diego'],
 ['California', 'San Francisco'],
 ['California', 'San Jose'],
 ['California', 'San Luis Obispo'],
 ['California', 'San Marcos'],
 ['California', 'Santa Ana'],
 ['California', 'Santa Barbara'],
 ['California', 'Santa Clara'],
 ['California', 'Santa Clarita'],
 ['California', 'Santa Cruz'],
 ['California', 'Santa Monica'],
 ['California', 'Santa Rosa'],
 ['California', 'Seaside'],
 ['California', 'Simi Valley'],
 ['California', 'Stanford'],
 ['California', 'Stockton'],
 ['California', 'Sunnyvale'],
 ['California', 'Temecula'],
 ['California', 'Torrance'],
 ['California', 'Thousand Oaks'],
 ['California', 'Turlock'],
 ['California', 'Vallejo'],
 ['California', 'Ventura'],
 ['California', 'Victorville'],
 ['California', 'Visalia'],
 ['California', 'Westminster'],
 ['California', 'West Covina'],
 ['California', 'Whittier'],
 ['Colorado', 'Alamosa'],
 ['Colorado', 'Aurora'],
 ['Colorado', 'Boulder'],
 ['Colorado', 'Colorado Springs'],
 ['Colorado', 'Denver'],
 ['Colorado', 'Durango'],
 ['Colorado', 'Fort Collins'],
 ['Colorado', 'Golden'],
 ['Colorado', 'Grand Junction'],
 ['Colorado', 'Greeley'],
 ['Colorado', 'Gunnison'],
 ['Colorado', 'Lakewood'],
 ['Colorado', 'Pueblo'],
 ['Connecticut', 'Bridgeport'],
 ['Connecticut', 'Danbury'],
 ['Connecticut', 'East Hartford'],
 ['Connecticut', 'Fairfield'],
 ['Connecticut', 'Farmington'],
 ['Connecticut', 'Hamden'],
 ['Connecticut', 'Hartford'],
 ['Connecticut', 'Middletown'],
 ['Connecticut', 'New Britain'],
 ['Connecticut', 'New Haven'],
 ['Connecticut', 'New London'],
 ['Connecticut', 'Southington'],
 ['Connecticut', 'Stamford'],
 ['Connecticut', 'Storrs'],
 ['Connecticut', 'Waterbury'],
 ['Connecticut', 'Willimantic'],
 ['Connecticut', 'West Hartford'],
 ['Connecticut', 'West Haven'],
 ['Delaware', 'Dover'],
 ['Delaware', 'Newark'],
 ['Delaware', 'New Castle'],
 ['Delaware', 'Wilmington'],
 ['District of Columbia', 'Washington, D.C.'],
 ['Florida', 'Ave Maria'],
 ['Florida', 'Boca Raton'],
 ['Florida', 'Bradenton'],
 ['Florida', 'Brandon'],
 ['Florida', 'Cape Coral'],
 ['Florida', 'Coral Gables'],
 ['Florida', 'Coral Springs'],
 ['Florida', 'Davie'],
 ['Florida', 'Daytona Beach'],
 ['Florida', 'DeLand'],
 ['Florida', 'Estero'],
 ['Florida', 'Fort Lauderdale'],
 ['Florida', 'Fort Myers'],
 ['Florida', 'Gainesville'],
 ['Florida', 'Gulfport'],
 ['Florida', 'Hialeah'],
 ['Florida', 'Hollywood'],
 ['Florida', 'Jacksonville'],
 ['Florida', 'Kendall'],
 ['Florida', 'Lakeland'],
 ['Florida', 'Miami'],
 ['Florida', 'Miami Gardens'],
 ['Florida', 'Miramar'],
 ['Florida', 'Panama City'],
 ['Florida', 'Pembroke Pines'],
 ['Florida', 'Pensacola'],
 ['Florida', 'Port St. Lucie'],
 ['Florida', 'Orlando'],
 ['Florida', 'Sarasota'],
 ['Florida', 'St. Augustine'],
 ['Florida', 'St. Leo'],
 ['Florida', 'St. Petersburg'],
 ['Florida', 'Sunrise'],
 ['Florida', 'Tallahassee'],
 ['Florida', 'Tampa'],
 ['Florida', 'West Palm Beach'],
 ['Georgia', 'Albany'],
 ['Georgia', 'Alpharetta'],
 ['Georgia', 'Athens'],
 ['Georgia', 'Atlanta'],
 ['Georgia', 'Downtown'],
 ['Georgia', 'Druid Hills'],
 ['Georgia', 'Midtown'],
 ['Georgia', 'Augusta'],
 ['Georgia', 'Blue Ridge'],
 ['Georgia', 'Brunswick'],
 ['Georgia', 'Carrollton'],
 ['Georgia', 'Columbus'],
 ['Georgia', 'Cumming'],
 ['Georgia', 'Dahlonega'],
 ['Georgia', 'Demorest'],
 ['Georgia', 'Fort Valley'],
 ['Georgia', 'Gainesville'],
 ['Georgia', 'Glennville'],
 ['Georgia', 'Kennesaw'],
 ['Georgia', 'Lawrenceville'],
 ['Georgia', 'Madison'],
 ['Georgia', 'Macon'],
 ['Georgia', 'Milledgeville'],
 ['Georgia', 'Monroe'],
 ['Georgia', 'Mount Vernon'],
 ['Georgia', 'Oxford'],
 ['Georgia', 'Rome'],
 ['Georgia', 'Savannah'],
 ['Georgia', 'Statesboro'],
 ['Georgia', 'Swainsboro'],
 ['Georgia', 'Valdosta'],
 ['Georgia', 'Vidalia'],
 ['Georgia', 'Waleska'],
 ['Georgia', 'Watkinsville'],
 ['Georgia', 'Young Harris'],
 ['Hawaii', 'Honolulu'],
 ['Hawaii', 'Laie'],
 ['Idaho', 'Boise'],
 ['Idaho', 'Caldwell'],
 ['Idaho', 'Lewiston'],
 ['Idaho', 'Moscow'],
 ['Idaho', 'Nampa'],
 ['Idaho', 'Pocatello'],
 ['Idaho', 'Rexburg'],
 ['Illinois', 'Alton'],
 ['Illinois', 'Aurora'],
 ['Illinois', 'Carbondale'],
 ['Illinois', 'Champaign-Urbana'],
 ['Illinois', 'Charleston'],
 ['Illinois', 'North Park'],
 ['Illinois', 'Roseland'],
 ['Illinois', 'University Village/Little Italy'],
 ['Illinois', 'Deerfield'],
 ['Illinois', 'DeKalb'],
 ['Illinois', 'Downers Grove'],
 ['Illinois', 'Edwardsville'],
 ['Illinois', 'Elgin'],
 ['Illinois', 'Evanston'],
 ['Illinois', 'Joliet'],
 ['Illinois', 'Lebanon'],
 ['Illinois', 'Macomb'],
 ['Illinois', 'Moline'],
 ['Illinois', 'Naperville'],
 ['Illinois', 'Normal'],
 ['Illinois', 'Peoria'],
 ['Illinois', 'River Forest'],
 ['Illinois', 'Rock Island'],
 ['Illinois', 'Rockford'],
 ['Illinois', 'Springfield'],
 ['Illinois', 'University Park'],
 ['Indiana', 'Angola'],
 ['Indiana', 'Bloomington'],
 ['Indiana', 'Columbus'],
 ['Indiana', 'Crawfordsville'],
 ['Indiana', 'Fort Wayne'],
 ['Indiana', 'Gary'],
 ['Indiana', 'Greencastle'],
 ['Indiana', 'Hanover'],
 ['Indiana', 'Indianapolis'],
 ['Indiana', 'Kokomo'],
 ['Indiana', 'Marion'],
 ['Indiana', 'Muncie'],
 ['Indiana', 'New Albany'],
 ['Indiana', 'Notre Dame'],
 ['Indiana', 'Oakland City'],
 ['Indiana', 'Richmond'],
 ['Indiana', 'South Bend'],
 ['Indiana', 'Terre Haute'],
 ['Indiana', 'Upland'],
 ['Indiana', 'Valparaiso'],
 ['Indiana', 'West Lafayette'],
 ['Iowa', 'Ames'],
 ['Iowa', 'Bettendorf'],
 ['Iowa', 'Cedar Falls'],
 ['Iowa', 'Cedar Rapids'],
 ['Iowa', 'Davenport'],
 ['Iowa', 'Decorah'],
 ['Iowa', 'Des Moines'],
 ['Iowa', 'Fayette'],
 ['Iowa', 'Grinnell'],
 ['Iowa', 'Indianola'],
 ['Iowa', 'Iowa City'],
 ['Iowa', 'Lamoni'],
 ['Iowa', 'Mount Vernon'],
 ['Iowa', 'Orange City'],
 ['Iowa', 'Oskaloosa'],
 ['Iowa', 'Sioux Center'],
 ['Iowa', 'Storm Lake'],
 ['Iowa', 'Waverly'],
 ['Kansas', 'Baldwin City'],
 ['Kansas', 'Emporia'],
 ['Kansas', 'Hays'],
 ['Kansas', 'Kansas City'],
 ['Kansas', 'Lawrence'],
 ['Kansas', 'Manhattan'],
 ['Kansas', 'Olathe'],
 ['Kansas', 'Overland Park'],
 ['Kansas', 'Pittsburg'],
 ['Kansas', 'Topeka'],
 ['Kansas', 'Wichita'],
 ['Kentucky', 'Barbourville'],
 ['Kentucky', 'Berea'],
 ['Kentucky', 'Bowling Green'],
 ['Kentucky', 'Campbellsville'],
 ['Kentucky', 'Columbia'],
 ['Kentucky', 'Crestview Hills'],
 ['Kentucky', 'Danville'],
 ['Kentucky', 'Frankfort'],
 ['Kentucky', 'Georgetown'],
 ['Kentucky', 'Grayson'],
 ['Kentucky', 'Highland Heights'],
 ['Kentucky', 'Lexington'],
 ['Kentucky', 'Louisville'],
 ['Kentucky', 'Midway'],
 ['Kentucky', 'Morehead'],
 ['Kentucky', 'Murray'],
 ['Kentucky', 'Owensboro'],
 ['Kentucky', 'Pikeville'],
 ['Kentucky', 'Richmond'],
 ['Kentucky', 'Williamsburg'],
 ['Kentucky', 'Wilmore'],
 ['Louisiana', 'Baton Rouge'],
 ['Louisiana', 'Grambling'],
 ['Louisiana', 'Hammond'],
 ['Louisiana', 'Lafayette'],
 ['Louisiana', 'Metairie'],
 ['Louisiana', 'Monroe'],
 ['Louisiana', 'Natchitoches'],
 ['Louisiana', 'New Orleans'],
 ['Louisiana', 'Ruston'],
 ['Louisiana', 'Shreveport'],
 ['Louisiana', 'Thibodaux'],
 ['Maine', 'Augusta'],
 ['Maine', 'Bangor'],
 ['Maine', 'Bar Harbor'],
 ['Maine', 'Biddeford'],
 ['Maine', 'Brunswick'],
 ['Maine', 'Farmington'],
 ['Maine', 'Fort Kent'],
 ['Maine', 'Gorham'],
 ['Maine', 'Lewiston'],
 ['Maine', 'Machias'],
 ['Maine', 'Orono'],
 ['Maine', 'Portland'],
 ['Maine', 'Presque Isle'],
 ['Maine', 'Waterville'],
 ['Maryland', 'Annapolis'],
 ['Maryland', 'Baltimore'],
 ['Maryland', 'Chestertown'],
 ['Maryland', 'College Park'],
 ['Maryland', 'Columbia'],
 ['Maryland', 'Cumberland'],
 ['Maryland', 'Emmitsburg'],
 ['Maryland', 'Frostburg'],
 ['Maryland', 'Germantown'],
 ['Maryland', 'Princess Anne'],
 ['Maryland', 'Salisbury'],
 ['Maryland', 'Silver Spring'],
 ['Maryland', 'Takoma Park'],
 ['Maryland', 'Towson'],
 ['Maryland', 'Westminster'],
 ['Massachusetts', 'Boston'],
 ['Massachusetts', 'Bridgewater'],
 ['Massachusetts', 'Brookline'],
 ['Massachusetts', 'Cambridge'],
 ['Massachusetts', 'Chestnut Hill'],
 ['Massachusetts', 'Dudley'],
 ['Massachusetts', 'North Grafton'],
 ['Massachusetts', 'Paxton'],
 ['Massachusetts', 'Worcester'],
 ['Massachusetts', 'Dartmouth'],
 ['Massachusetts', 'Fitchburg'],
 ['Massachusetts', 'The Five College Region of Western Massachusetts'],
 ['Massachusetts', 'Amherst'],
 ['Massachusetts', 'Northampton'],
 ['Massachusetts', 'South Hadley'],
 ['Massachusetts', 'Framingham'],
 ['Massachusetts', 'Leicester'],
 ['Massachusetts', 'Lowell'],
 ['Massachusetts', 'Medford'],
 ['Massachusetts', 'Newton'],
 ['Massachusetts', 'North Adams'],
 ['Massachusetts', 'Quincy'],
 ['Massachusetts', 'Somerville'],
 ['Massachusetts', 'Springfield'],
 ['Massachusetts', 'Waltham'],
 ['Massachusetts', 'Wellesley'],
 ['Massachusetts', 'Westfield'],
 ['Massachusetts', 'Williamstown'],
 ['Michigan', 'Adrian'],
 ['Michigan', 'Albion'],
 ['Michigan', 'Allendale'],
 ['Michigan', 'Alma'],
 ['Michigan', 'Ann Arbor'],
 ['Michigan', 'Berrien Springs'],
 ['Michigan', 'Big Rapids'],
 ['Michigan', 'Dearborn'],
 ['Michigan', 'Boston-Edison Historic District'],
 ['Michigan', 'Downtown'],
 ['Michigan', 'Fitzgerald'],
 ['Michigan', 'Midtown'],
 ['Michigan', 'University District'],
 ['Michigan', 'East Lansing'],
 ['Michigan', 'Flint'],
 ['Michigan', 'Genoa Township'],
 ['Michigan', 'Grand Rapids'],
 ['Michigan', 'Hillsdale'],
 ['Michigan', 'Holland'],
 ['Michigan', 'Houghton'],
 ['Michigan', 'Kalamazoo'],
 ['Michigan', 'Lansing'],
 ['Michigan', 'Marquette'],
 ['Michigan', 'Midland'],
 ['Michigan', 'Mount Pleasant'],
 ['Michigan', 'Olivet'],
 ['Michigan', 'Saginaw'],
 ['Michigan', 'Sault Ste. Marie'],
 ['Michigan', 'Spring Arbor'],
 ['Michigan', 'Sterling Heights'],
 ['Michigan', 'Ypsilanti'],
 ['Michigan', 'Warren'],
 ['Minnesota', 'Bemidji'],
 ['Minnesota', 'Crookston'],
 ['Minnesota', 'Duluth'],
 ['Minnesota', 'Faribault'],
 ['Minnesota', 'Mankato'],
 ['Minnesota', 'Marshall'],
 ['Minnesota', 'Minneapolis'],
 ['Minnesota', 'Moorhead'],
 ['Minnesota', 'Morris'],
 ['Minnesota', 'Northfield'],
 ['Minnesota', 'North Mankato'],
 ['Minnesota', 'Pine City'],
 ['Minnesota', 'Rochester'],
 ['Minnesota', 'St. Cloud'],
 ['Minnesota', 'St. Joseph'],
 ['Minnesota', 'Saint Paul'],
 ['Minnesota', 'St. Peter'],
 ['Minnesota', 'Winona'],
 ['Mississippi', 'Blue Mountain'],
 ['Mississippi', 'Cleveland'],
 ['Mississippi', 'Clinton'],
 ['Mississippi', 'Columbus'],
 ['Mississippi', 'Hattiesburg'],
 ['Mississippi', 'Holly Springs'],
 ['Mississippi', 'Itta Bena'],
 ['Mississippi', 'Jackson'],
 ['Mississippi', 'Laurel'],
 ['Mississippi', 'Oxford'],
 ['Mississippi', 'Southaven'],
 ['Mississippi', 'Starkville'],
 ['Mississippi', 'Tougaloo'],
 ['Missouri', 'Bolivar'],
 ['Missouri', 'Cape Girardeau'],
 ['Missouri', 'Columbia'],
 ['Missouri', 'Fayette'],
 ['Missouri', 'Fulton'],
 ['Missouri', 'Kirksville'],
 ['Missouri', 'Maryville'],
 ['Missouri', 'Rolla'],
 ['Missouri', 'Warrensburg'],
 ['Montana', 'Billings'],
 ['Montana', 'Bozeman'],
 ['Montana', 'Butte'],
 ['Montana', 'Dillon'],
 ['Montana', 'Great Falls'],
 ['Montana', 'Havre'],
 ['Montana', 'Helena'],
 ['Montana', 'Missoula'],
 ['Nebraska', 'Bellevue'],
 ['Nebraska', 'Chadron'],
 ['Nebraska', 'Crete'],
 ['Nebraska', 'Fremont'],
 ['Nebraska', 'Hastings'],
 ['Nebraska', 'Kearney'],
 ['Nebraska', 'Lincoln'],
 ['Nebraska', 'Omaha'],
 ['Nebraska', 'Peru'],
 ['Nebraska', 'Seward'],
 ['Nebraska', 'Wayne'],
 ['Nebraska', 'York, Nebraska'],
 ['Nevada', 'Henderson'],
 ['Nevada', 'Incline Village'],
 ['Nevada', 'Las Vegas'],
 ['Nevada', 'North Las Vegas'],
 ['Nevada', 'Reno'],
 ['New Hampshire', 'Concord'],
 ['New Hampshire', 'Durham'],
 ['New Hampshire', 'Hanover'],
 ['New Hampshire', 'Henniker'],
 ['New Hampshire', 'Keene'],
 ['New Hampshire', 'Manchester'],
 ['New Hampshire', 'New London'],
 ['New Hampshire', 'Plymouth'],
 ['New Hampshire', 'Rindge'],
 ['New Jersey', 'Ewing'],
 ['New Jersey', 'Jersey City'],
 ['New Jersey', 'Glassboro'],
 ['New Jersey', 'Hoboken'],
 ['New Jersey', 'Madison'],
 ['New Jersey', 'Montclair'],
 ['New Jersey', 'Newark'],
 ['New Jersey', 'New Brunswick'],
 ['New Jersey', 'Paterson'],
 ['New Jersey', 'Princeton'],
 ['New Jersey', 'South Orange'],
 ['New Jersey', 'Union'],
 ['New Jersey', 'West Long Branch'],
 ['New Mexico', 'Albuquerque'],
 ['New Mexico', 'Hobbs'],
 ['New Mexico', 'Las Cruces'],
 ['New Mexico', 'Las Vegas'],
 ['New Mexico', 'Portales'],
 ['New Mexico', 'Rio Rancho'],
 ['New Mexico', 'Silver City'],
 ['New Mexico', 'Socorro'],
 ['New York', 'Albany'],
 ['New York', 'Alfred'],
 ['New York', 'Aurora'],
 ['New York', 'Binghamton'],
 ['New York', 'Brockport'],
 ['New York', 'Buffalo'],
 ['New York', 'Canton'],
 ['New York', 'Clinton'],
 ['New York', 'Cortland'],
 ['New York', 'Cobleskill'],
 ['New York', 'Delhi'],
 ['New York', 'Fredonia'],
 ['New York', 'Geneseo'],
 ['New York', 'Geneva'],
 ['New York', 'Hamilton'],
 ['New York', 'Ithaca'],
 ['New York', 'Newburgh'],
 ['New York', 'New Paltz'],
 ['New York', 'New Rochelle'],
 ['New York', 'New York City'],
 ['New York', 'Oneonta'],
 ['New York', 'Oswego'],
 ['New York', 'Plattsburgh'],
 ['New York', 'Potsdam'],
 ['New York', 'Poughkeepsie'],
 ['New York', 'Purchase'],
 ['New York', 'Rochester'],
 ['New York', 'Saratoga Springs'],
 ['New York', 'Schenectady'],
 ['New York', 'Seneca Falls'],
 ['New York', 'Stony Brook'],
 ['New York', 'Syracuse'],
 ['New York', 'Tivoli'],
 ['New York', 'Troy'],
 ['New York', 'Valhalla'],
 ['New York', 'West Point'],
 ['New York', 'Yonkers'],
 ['North Carolina', 'Asheville'],
 ['North Carolina', 'Banner Elk'],
 ['North Carolina', 'Belmont'],
 ['North Carolina', 'Boiling Springs'],
 ['North Carolina', 'Boone'],
 ['North Carolina', 'Brevard'],
 ['North Carolina', 'Buies Creek'],
 ['North Carolina', 'Chapel Hill'],
 ['North Carolina', 'Charlotte'],
 ['North Carolina', 'Cullowhee'],
 ['North Carolina', 'Davidson'],
 ['North Carolina', 'Durham'],
 ['North Carolina', 'Elizabeth City'],
 ['North Carolina', 'Elon'],
 ['North Carolina', 'Fayetteville'],
 ['North Carolina', 'Greensboro'],
 ['North Carolina', 'Greenville'],
 ['North Carolina', 'Hickory'],
 ['North Carolina', 'High Point'],
 ['North Carolina', 'Laurinburg'],
 ['North Carolina', 'Mars Hill'],
 ['North Carolina', 'Misenheimer'],
 ['North Carolina', 'Montreat'],
 ['North Carolina', 'Mount Olive'],
 ['North Carolina', 'Murfreesboro'],
 ['North Carolina', 'Pembroke'],
 ['North Carolina', 'Raleigh'],
 ['North Carolina', 'Rocky Mount'],
 ['North Carolina', 'Salisbury'],
 ['North Carolina', 'Wilmington'],
 ['North Carolina', 'Wilson'],
 ['North Carolina', 'Wingate'],
 ['North Carolina', 'Winston-Salem'],
 ['North Dakota', 'Bismarck'],
 ['North Dakota', 'Dickinson'],
 ['North Dakota', 'Fargo'],
 ['North Dakota', 'Grand Forks'],
 ['North Dakota', 'Jamestown'],
 ['North Dakota', 'Mayville'],
 ['North Dakota', 'Minot'],
 ['North Dakota', 'Valley City'],
 ['Ohio', 'Ada'],
 ['Ohio', 'Akron'],
 ['Ohio', 'Alliance'],
 ['Ohio', 'Ashland'],
 ['Ohio', 'Athens'],
 ['Ohio', 'Berea'],
 ['Ohio', 'Bluffton'],
 ['Ohio', 'Bowling Green'],
 ['Ohio', 'Cedarville'],
 ['Ohio', 'Cincinnati'],
 ['Ohio', 'Cleveland:'],
 ['Ohio', 'Downtown'],
 ['Ohio', 'Fairfax'],
 ['Ohio', 'St. Clair-Superior'],
 ['Ohio', 'University Circle'],
 ['Ohio', 'Downtown'],
 ['Ohio', 'North Central neighborhood'],
 ['Ohio', 'University District'],
 ['Ohio', 'Dayton'],
 ['Ohio', 'Delaware'],
 ['Ohio', 'Fairborn'],
 ['Ohio', 'Findlay'],
 ['Ohio', 'Gambier'],
 ['Ohio', 'Granville'],
 ['Ohio', 'Hiram'],
 ['Ohio', 'Kent'],
 ['Ohio', 'Nelsonville'],
 ['Ohio', 'New Concord'],
 ['Ohio', 'Oberlin'],
 ['Ohio', 'Oxford'],
 ['Ohio', 'Perrysburg Township'],
 ['Ohio', 'Rio Grande'],
 ['Ohio', 'Springfield'],
 ['Ohio', 'Tiffin'],
 ['Ohio', 'Toledo'],
 ['Ohio', 'Wilberforce'],
 ['Ohio', 'Wooster'],
 ['Ohio', 'Yellow Springs'],
 ['Ohio', 'Youngstown'],
 ['Oklahoma', 'Ada'],
 ['Oklahoma', 'Alva'],
 ['Oklahoma', 'Bethany'],
 ['Oklahoma', 'Durant'],
 ['Oklahoma', 'Edmond'],
 ['Oklahoma', 'Goodwell'],
 ['Oklahoma', 'Langston'],
 ['Oklahoma', 'Lawton'],
 ['Oklahoma', 'Midwest City'],
 ['Oklahoma', 'Norman'],
 ['Oklahoma', 'Oklahoma City'],
 ['Oklahoma', 'Stillwater'],
 ['Oklahoma', 'Tahlequah'],
 ['Oklahoma', 'Tulsa'],
 ['Oklahoma', 'Weatherford'],
 ['Oregon', 'Ashland'],
 ['Oregon', 'Corvallis'],
 ['Oregon', 'Eugene'],
 ['Oregon', 'Forest Grove'],
 ['Oregon', 'Klamath Falls'],
 ['Oregon', 'La Grande'],
 ['Oregon', 'Lebanon'],
 ['Oregon', 'Marylhurst'],
 ['Oregon', 'McMinnville'],
 ['Oregon', 'Monmouth'],
 ['Oregon', 'Newberg'],
 ['Oregon', 'Portland'],
 ['Oregon', 'Salem'],
 ['Pennsylvania', 'Allentown'],

In [65]:
df_v = pd.DataFrame(final_list, columns=["State", "RegionName"])
df_v

             State        RegionName
0          Alabama            Auburn
1          Alabama        Birmingham
2          Alabama            Dothan
3          Alabama          Florence
4          Alabama          Homewood
5          Alabama        Huntsville
6          Alabama      Jacksonville
7          Alabama        Livingston
8          Alabama            Mobile
9          Alabama        Montevallo
10         Alabama        Montgomery
11         Alabama              Troy
12         Alabama        Tuscaloosa
13         Alabama          Tuskegee
14          Alaska         Anchorage
15          Alaska         Fairbanks
16          Alaska            Juneau
17          Alaska         Ketchikan
18          Alaska             Sitka
19         Arizona          Chandler
20         Arizona         Flagstaff
21         Arizona           Gilbert
22         Arizona          Glendale
23         Arizona  Lake Havasu City
24         Arizona              Mesa
25         Arizona            Peoria
26         Arizona           Phoenix
27         Arizona          Prescott
28         Arizona        Scottsdale
29         Arizona             Tempe
..             ...               ...
921     Washington           Seattle
922     Washington           Spokane
923     Washington            Tacoma
924     Washington         Vancouver
925  West Virginia            Athens
926  West Virginia           Beckley
927  West Virginia        Buckhannon
928  West Virginia            Elkins
929  West Virginia          Fairmont
930  West Virginia         Glenville
931  West Virginia         Institute
932  West Virginia         Lewisburg
933  West Virginia        Morgantown
934  West Virginia     Shepherdstown
935  West Virginia      West Liberty
936      Wisconsin          Appleton
937      Wisconsin        Eau Claire
938      Wisconsin         Green Bay
939      Wisconsin           Kenosha
940      Wisconsin         La Crosse
941      Wisconsin           Madison
942      Wisconsin         Menomonie
943      Wisconsin         Milwaukee
944      Wisconsin           Oshkosh
945      Wisconsin       Platteville
946      Wisconsin       River Falls
947      Wisconsin     Stevens Point
948      Wisconsin          Waukesha
949      Wisconsin        Whitewater
950        Wyoming           Laramie

[951 rows x 2 columns]

In [66]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    with open("university_towns.txt") as file:
        temp_list = []
        file.readline()
        for line in file:
            temp_list.append(line[:-1])

    df_dict = {}
    
    for item in temp_list:
        item = item.replace('â€“','-')
        if item in states.values():
            state = item
            df_dict[state] = []
            continue

        if "[" in item and "(" in item:
            idx_1 = item.index("[")
            idx_2 = item.index("(")-1
            idx_first = min(idx_1, idx_2)
            new_item = item[:idx_first]
            df_dict[state].append(new_item)

        elif "(" in item:
            new_item1 = item[:item.index("(")-1]
            df_dict[state].append(new_item1)

        elif "[" in item:
            new_item1 = item[:item.index("[")]
            df_dict[state].append(new_item1)

        elif ":" in item:
            item = item.strip(":")
        else:
            df_dict[state].append(item)

    final_list = []
    for key, value in df_dict.items():
        for i in range(len(value)):
            final_list.append([key,df_dict[key][i]])

    df = pd.DataFrame(final_list, columns=["State", "RegionName"])
                
    return df

In [87]:
gdp = pd.read_excel('gdplev.xlsx', skiprows = 7, usecols= {'Unnamed: 4', 'Unnamed: 6'})
gdp = gdp.rename(columns = {'Unnamed: 4': 'Quarter', 'Unnamed: 6': 'GDP'})

serie = gdp.Quarter.str.find("2000")

for idx, value in serie.iteritems():
    if value >= 0:
        q2000 = idx
        break
gdp = gdp.iloc[q2000:]

result = []
for i in range(len(gdp) - 2):
    if (gdp.iloc[i][1] > gdp.iloc[i+1][1]) & (gdp.iloc[i+1][1] > gdp.iloc[i+2][1]):
        result.append(gdp.iloc[i+1][0])
result[0]

'2008Q3'

In [88]:
result

['2008Q3', '2008Q4', '2009Q1']

In [90]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    gdp = pd.read_excel('gdplev.xlsx', skiprows = 7, usecols= {'Unnamed: 4', 'Unnamed: 6'})
    gdp = gdp.rename(columns = {'Unnamed: 4': 'Quarter', 'Unnamed: 6': 'GDP'})

    serie = gdp.Quarter.str.find("2000")

    for idx, value in serie.iteritems():
        if value >= 0:
            q2000 = idx
            break
    gdp = gdp.iloc[q2000:]

    result = []
    for i in range(len(gdp) - 2):
        if (gdp.iloc[i][1] > gdp.iloc[i+1][1]) & (gdp.iloc[i+1][1] > gdp.iloc[i+2][1]):
            result.append(gdp.iloc[i+1][0])
    
    return result[0]

In [97]:
rec_start = get_recession_start()
gdp = pd.read_excel('gdplev.xlsx', skiprows = 7, usecols= {'Unnamed: 4', 'Unnamed: 6'})
gdp = gdp.rename(columns = {'Unnamed: 4': 'Quarter', 'Unnamed: 6': 'GDP'})

first_idx = gdp[gdp.Quarter == rec_start].index.tolist()[0]

gdp = gdp.iloc[first_idx:]
for i in range(2, len(gdp)):
    if (gdp.iloc[i-2][1] < gdp.iloc[i-1][1]) and (gdp.iloc[i-1][1] < gdp.iloc[i][1]):
        print(gdp.iloc[i][0])
        break

2009Q4

In [99]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    rec_start = get_recession_start()
    gdp = pd.read_excel('gdplev.xlsx', skiprows = 7, usecols= {'Unnamed: 4', 'Unnamed: 6'})
    gdp = gdp.rename(columns = {'Unnamed: 4': 'Quarter', 'Unnamed: 6': 'GDP'})

    first_idx = gdp[gdp.Quarter == rec_start].index.tolist()[0]

    gdp = gdp.iloc[first_idx:]
    for i in range(2, len(gdp)):
        if (gdp.iloc[i-2][1] < gdp.iloc[i-1][1]) and (gdp.iloc[i-1][1] < gdp.iloc[i][1]):
            return gdp.iloc[i][0]

In [100]:
get_recession_end()

'2009Q4'

In [101]:
rec_start = get_recession_start()
rec_end = get_recession_end()
gdp = pd.read_excel('gdplev.xlsx', skiprows = 7, usecols= {'Unnamed: 4', 'Unnamed: 6'})
gdp = gdp.rename(columns = {'Unnamed: 4': 'Quarter', 'Unnamed: 6': 'GDP'})

first_idx = gdp[gdp.Quarter == rec_start].index.tolist()[0]
last_index = gdp[gdp.Quarter == rec_end].index.tolist()[0]
    
gdp = gdp.iloc[first_idx : last_index + 1]
result = gdp['GDP'].min()
result_idx = gdp[gdp['GDP'] == result].index.tolist()[0] - first_idx
gdp.iloc[result_idx]['Quarter']

'2009Q2'

In [102]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''

    rec_start = get_recession_start()
    rec_end = get_recession_end()
    gdp = pd.read_excel('gdplev.xlsx', skiprows = 7, usecols= {'Unnamed: 4', 'Unnamed: 6'})
    gdp = gdp.rename(columns = {'Unnamed: 4': 'Quarter', 'Unnamed: 6': 'GDP'})

    first_idx = gdp[gdp.Quarter == rec_start].index.tolist()[0]
    last_index = gdp[gdp.Quarter == rec_end].index.tolist()[0]

    gdp = gdp.iloc[first_idx : last_index + 1]
    result = gdp['GDP'].min()
    result_idx = gdp[gdp['GDP'] == result].index.tolist()[0] - first_idx
    
    return gdp.iloc[result_idx]['Quarter']

In [176]:
hous_df = pd.read_csv('City_Zhvi_AllHomes.csv', encoding='latin-1')
#hous_df['State'] = hous_df['State'].map(states)
#hous_df = hous_df.set_index(["State","RegionName"])
#columns = hous_df.columns
#selected_columns = []
#for col in columns:
#    try:
#        if int(col[:4]) >= 2000 and int(col[:4]) < 2017:
#            selected_columns.append(col)
#    except:
#        continue
#hous_df = hous_df[selected_columns]
#hous_df = hous_df.groupby(pd.PeriodIndex(hous_df.columns, freq='Q'), axis=1).mean()
##df = df.iloc[:, :-1] bu komut ile de son sütün u düşürmüş oluyoruz.
#hous_df = hous_df.drop(hous_df.columns[len(hous_df.columns)-1], axis=1)
#hous_df.head()

In [106]:
hous_df = pd.read_csv('City_Zhvi_AllHomes.csv', encoding='latin-1')
#convert two-letter-state to full name of state
hous_df['State'] = hous_df['State'].map(states)
#set index to state, regionname
hous_df = hous_df.set_index(["State","RegionName"])
#filter columns by year, only want 2000 to 2016
hous_df = hous_df.filter(regex='^20', axis=1)
#group select columns by quarter, calculates average per quarter
hous_df = hous_df.groupby(pd.PeriodIndex(hous_df.columns, freq='Q'), axis=1).mean()
hous_df

                                              2000Q1         2000Q2  \
State                RegionName
New York             New York          220433.333333  228866.666667
California           Los Angeles       208166.666667  214900.000000
Texas                Houston           106266.666667  106300.000000
Illinois             Chicago           142233.333333  147433.333333
Texas                San Antonio        92133.333333   91800.000000
Pennsylvania         Philadelphia       51466.666667   52500.000000
Arizona              Phoenix           114500.000000  116700.000000
Nevada               Las Vegas         136933.333333  138266.666667
California           San Diego         224066.666667  235866.666667
Texas                Dallas             93466.666667   94000.000000
                     Austin            174866.666667  179800.000000
California           San Jose          391900.000000  423000.000000
Florida              Jacksonville       88966.666667   90266.666667
Indiana              Indianapolis       96600.000000   95066.666667
California           San Francisco     461333.333333  493833.333333
North Carolina       Charlotte         132500.000000  133833.333333
Texas                Fort Worth        106133.333333  107133.333333
Arizona              Tucson            105900.000000  107266.666667
Ohio                 Columbus          101866.666667  104000.000000
Kentucky             Louisville         98066.666667   98633.333333
Florida              Orlando           106800.000000  109233.333333
Texas                El Paso            81533.333333   81400.000000
Colorado             Denver            165600.000000  172933.333333
Washington           Seattle           247833.333333  255166.666667
Tennessee            Memphis            72466.666667   72900.000000
Massachusetts        Boston            206933.333333  218500.000000
District of Columbia Washington        141133.333333  144466.666667
Oregon               Portland          149066.666667  150000.000000
Tennessee            Nashville         114366.666667  115200.000000
California           Sacramento        123100.000000  127033.333333
...                                              ...            ...
Iowa                 Urbana             74133.333333   75466.666667
Florida              Mexico Beach      136233.333333  140233.333333
Wisconsin            Cambridge         129433.333333  130133.333333
Delaware             Dewey Beach                 NaN            NaN
Washington           Ronald            131800.000000  132500.000000
Illinois             Warren                      NaN            NaN
New York             Saint Johnsville   25666.666667   26433.333333
Iowa                 Orleans                     NaN            NaN
Florida              Captiva           515733.333333  548900.000000
California           Fawnskin          131933.333333  134100.000000
Iowa                 Reinbeck                    NaN            NaN
Washington           Coulee Dam         46900.000000   48833.333333
California           McCloud            82233.333333   80933.333333
Kansas               Linn Valley        79500.000000   80633.333333
Nebraska             Bayard                      NaN            NaN
Texas                Ransom Canyon     139000.000000  140466.666667
Wisconsin            Reedsville                  NaN            NaN
Washington           Point Roberts     107033.333333  108366.666667
Pennsylvania         Smethport          42633.333333   43333.333333
Ohio                 Haskins            81466.666667   84566.666667
Wisconsin            Brooklyn          131200.000000  132466.666667
Nevada               Mount Charleston            NaN            NaN
Texas                Ponder            121566.666667  121800.000000
                     Jamaica Beach     182266.666667  181533.333333
Michigan             Leland                      NaN            NaN
Wisconsin            Marshall          127333.333333  128766.666667
Iowa                 Strawberry Point   52200.000000   52566.666667
New Jersey           Diamond Beach     183133.333333  189166.666667
Pennsylvania         Plymptonville      40633.333333   41033.333333
West Virginia        Bolivar            85600.000000   86200.000000

                                              2000Q3         2000Q4  \
State                RegionName
New York             New York          236166.666667  242266.666667
California           Los Angeles       221466.666667  227766.666667
Texas                Houston           106233.333333  106500.000000
Illinois             Chicago           153033.333333  158700.000000
Texas                San Antonio        91133.333333   90800.000000
Pennsylvania         Philadelphia       53600.000000   54433.333333
Arizona              Phoenix           118800.000000  120933.333333
Nevada               Las Vegas         139100.000000  140333.333333
California           San Diego         246833.333333  256633.333333
Texas                Dallas             94900.000000   96000.000000
                     Austin            182266.666667  183966.666667
California           San Jose          446766.666667  460566.666667
Florida              Jacksonville       91400.000000   92566.666667
Indiana              Indianapolis       95400.000000   98100.000000
California           San Francisco     514066.666667  524300.000000
North Carolina       Charlotte         134800.000000  135766.666667
Texas                Fort Worth        108866.666667  110266.666667
Arizona              Tucson            108500.000000  110000.000000
Ohio                 Columbus          105433.333333  106666.666667
Kentucky             Louisville         99233.333333  100766.666667
Florida              Orlando           112066.666667  114833.333333
Texas                El Paso            80966.666667   79966.666667
Colorado             Denver            179333.333333  184533.333333
Washington           Seattle           261466.666667  266600.000000
Tennessee            Memphis            73133.333333   73433.333333
Massachusetts        Boston            229866.666667  240300.000000
District of Columbia Washington        147866.666667  151433.333333
Oregon               Portland          150700.000000  151866.666667
Tennessee            Nashville         115733.333333  116833.333333
California           Sacramento        131333.333333  136566.666667
...                                              ...            ...
Iowa                 Urbana             76200.000000   77366.666667
Florida              Mexico Beach      142233.333333  144733.333333
Wisconsin            Cambridge         131000.000000  132166.666667
Delaware             Dewey Beach                 NaN            NaN
Washington           Ronald            133500.000000  134800.000000
Illinois             Warren                      NaN            NaN
New York             Saint Johnsville   27266.666667   28266.666667
Iowa                 Orleans                     NaN            NaN
Florida              Captiva           583900.000000  619466.666667
California           Fawnskin          136166.666667  139566.666667
Iowa                 Reinbeck                    NaN            NaN
Washington           Coulee Dam         50766.666667   52833.333333
California           McCloud            80333.333333   80533.333333
Kansas               Linn Valley        81900.000000   83333.333333
Nebraska             Bayard                      NaN            NaN
Texas                Ransom Canyon     141866.666667  143700.000000
Wisconsin            Reedsville                  NaN            NaN
Washington           Point Roberts     110500.000000  112133.333333
Pennsylvania         Smethport          43900.000000   44700.000000
Ohio                 Haskins            88166.666667   92266.666667
Wisconsin            Brooklyn          133900.000000  135500.000000
Nevada               Mount Charleston            NaN            NaN
Texas                Ponder            121866.666667  121700.000000
                     Jamaica Beach     181233.333333  181300.000000
Michigan             Leland                      NaN            NaN
Wisconsin            Marshall          130466.666667  132633.333333
Iowa                 Strawberry Point   53000.000000   53600.000000
New Jersey           Diamond Beach     196533.333333  205766.666667
Pennsylvania         Plymptonville      41400.000000   41866.666667
West Virginia        Bolivar            86733.333333   87533.333333

                                              2001Q1         2001Q2  \
State                RegionName
New York             New York          248633.333333  256000.000000
California           Los Angeles       234566.666667  241333.333333
Texas                Houston           106600.000000  107033.333333
Illinois             Chicago           163566.666667  167033.333333
Texas                San Antonio        90300.000000   89700.000000
Pennsylvania         Philadelphia       55200.000000   55966.666667
Arizona              Phoenix           123366.666667  125266.666667
Nevada               Las Vegas         142333.333333  144600.000000
California           San Diego         266900.000000  277166.666667
Texas                Dallas             96566.666667   96633.333333
                     Austin            185566.666667  188633.333333
California           San Jose          465366.666667  461733.333333
Florida              Jacksonville       94500.000000   96433.333333
Indiana              Indianapolis      100600.000000  101000.000000
California           San Francisco     528700.000000  526633.333333
North Carolina       Charlotte         136633.333333  137133.333333
Texas                Fort Worth        110066.666667  109066.666667
Arizona              Tucson            111933.333333  113600.000000
Ohio                 Columbus          107933.333333  109233.333333
Kentucky             Louisville        103700.000000  106766.666667
Florida              Orlando           117266.666667  119300.000000
Texas                El Paso            79033.333333   78366.666667
Colorado             Denver            189333.333333  193400.000000
Washington           Seattle           271300.000000  274333.333333
Tennessee            Memphis            74000.000000   74500.000000
Massachusetts        Boston            249766.666667  258833.333333
District of Columbia Washington        156800.000000  163133.333333
Oregon               Portland          153700.000000  155600.000000
Tennessee            Nashville         118400.000000  119566.666667
California           Sacramento        142733.333333  149333.333333
...                                              ...            ...
Iowa                 Urbana             79766.666667   82533.333333
Florida              Mexico Beach      149133.333333  153033.333333
Wisconsin            Cambridge         133900.000000  136033.333333
Delaware             Dewey Beach                 NaN            NaN
Washington           Ronald            135700.000000  136666.666667
Illinois             Warren                      NaN            NaN
New York             Saint Johnsville   29166.666667   29900.000000
Iowa                 Orleans                     NaN            NaN
Florida              Captiva           656033.333333  690133.333333
California           Fawnskin          144200.000000  148900.000000
Iowa                 Reinbeck                    NaN            NaN
Washington           Coulee Dam         55366.666667   57866.666667
California           McCloud            81633.333333   83766.666667
Kansas               Linn Valley        85366.666667   87700.000000
Nebraska             Bayard                      NaN            NaN
Texas                Ransom Canyon     145566.666667  146966.666667
Wisconsin            Reedsville                  NaN            NaN
Washington           Point Roberts     113766.666667  115966.666667
Pennsylvania         Smethport          45800.000000   46933.333333
Ohio                 Haskins            95900.000000   99466.666667
Wisconsin            Brooklyn          137366.666667  139200.000000
Nevada               Mount Charleston            NaN            NaN
Texas                Ponder            120966.666667  119900.000000
                     Jamaica Beach     181766.666667  182533.333333
Michigan             Leland                      NaN            NaN
Wisconsin            Marshall          134966.666667  137100.000000
Iowa                 Strawberry Point   54200.000000   54966.666667
New Jersey           Diamond Beach     216900.000000  228433.333333
Pennsylvania         Plymptonville      42333.333333   42700.000000
West Virginia        Bolivar            88900.000000   90400.000000

                                              2001Q3         2001Q4  \
State                RegionName
New York             New York          265700.000000  277100.000000
California           Los Angeles       248200.000000  255833.333333
Texas                Houston           108066.666667  109466.666667
Illinois             Chicago           171433.333333  176833.333333
Texas                San Antonio        89433.333333   89400.000000
Pennsylvania         Philadelphia       56500.000000   57300.000000
Arizona              Phoenix           126600.000000  127900.000000
Nevada               Las Vegas         147333.333333  150800.000000
California           San Diego         286233.333333  295700.000000
Texas                Dallas             96733.333333   96900.000000
                     Austin            190200.000000  189533.333333
California           San Jose          453866.666667  446766.666667
Florida              Jacksonville       98600.000000  101266.666667
Indiana              Indianapolis      100866.666667  101733.333333
California           San Francisco     523233.333333  521166.666667
North Carolina       Charlotte         137700.000000  138133.333333
Texas                Fort Worth        109100.000000  110366.666667
Arizona              Tucson            115366.666667  117633.333333
Ohio                 Columbus          110700.000000  112333.333333
Kentucky             Louisville        108966.666667  110166.666667
Florida              Orlando           121266.666667  124100.000000
Texas                El Paso            77633.333333   77233.333333
Colorado             Denver            196900.000000  199966.666667
Washington           Seattle           276166.666667  278400.000000
Tennessee            Memphis            75200.000000   75833.333333
Massachusetts        Boston            267000.000000  273466.666667
District of Columbia Washington        169800.000000  176466.666667
Oregon               Portland          157533.333333  160033.333333
Tennessee            Nashville         120233.333333  121033.333333
California           Sacramento        155800.000000  162033.333333
...                                              ...            ...
Iowa                 Urbana             84133.333333   86166.666667
Florida              Mexico Beach      155066.666667  158733.333333
Wisconsin            Cambridge         137900.000000  139700.000000
Delaware             Dewey Beach                 NaN            NaN
Washington           Ronald            138166.666667  139766.666667
Illinois             Warren                      NaN            NaN
New York             Saint Johnsville   30733.333333   31500.000000
Iowa                 Orleans                     NaN            NaN
Florida              Captiva           722366.666667  753766.666667
California           Fawnskin          154033.333333  160500.000000
Iowa                 Reinbeck                    NaN            NaN
Washington           Coulee Dam         59766.666667   61133.333333
California           McCloud            86733.333333   90033.333333
Kansas               Linn Valley        89866.666667   91700.000000
Nebraska             Bayard                      NaN            NaN
Texas                Ransom Canyon     148033.333333  149400.000000
Wisconsin            Reedsville                  NaN            NaN
Washington           Point Roberts     117533.333333  117566.666667
Pennsylvania         Smethport          47733.333333   48700.000000
Ohio                 Haskins           102800.000000  106033.333333
Wisconsin            Brooklyn          141000.000000  142833.333333
Nevada               Mount Charleston            NaN            NaN
Texas                Ponder            119100.000000  118666.666667
                     Jamaica Beach     183866.666667  185466.666667
Michigan             Leland                      NaN            NaN
Wisconsin            Marshall          139000.000000  141066.666667
Iowa                 Strawberry Point   55633.333333   56300.000000
New Jersey           Diamond Beach     241433.333333  255933.333333
Pennsylvania         Plymptonville      43066.666667   43600.000000
West Virginia        Bolivar            91800.000000   93333.333333

                                              2002Q1         2002Q2  ...  \
State                RegionName                                      ...
New York             New York          285033.333333  286300.000000  ...
California           Los Angeles       265500.000000  277000.000000  ...
Texas                Houston           110533.333333  111300.000000  ...
Illinois             Chicago           182366.666667  187033.333333  ...
Texas                San Antonio        89500.000000   90000.000000  ...
Pennsylvania         Philadelphia       58800.000000   60366.666667  ...
Arizona              Phoenix           129500.000000  131133.333333  ...
Nevada               Las Vegas         154600.000000  157266.666667  ...
California           San Diego         306866.666667  319900.000000  ...
Texas                Dallas             97233.333333   98333.333333  ...
                     Austin            187100.000000  184166.666667  ...
California           San Jose          446866.666667  457300.000000  ...
Florida              Jacksonville      103966.666667  106266.666667  ...
Indiana              Indianapolis      102866.666667  102733.333333  ...
California           San Francisco     523866.666667  535966.666667  ...
North Carolina       Charlotte         138500.000000  138966.666667  ...
Texas                Fort Worth        111900.000000  113400.000000  ...
Arizona              Tucson            120066.666667  121900.000000  ...
Ohio                 Columbus          114066.666667  115866.666667  ...
Kentucky             Louisville        110700.000000  111133.333333  ...
Florida              Orlando           127600.000000  130933.333333  ...
Texas                El Paso            77200.000000   77566.666667  ...
Colorado             Denver            202466.666667  204333.333333  ...
Washington           Seattle           281300.000000  284233.333333  ...
Tennessee            Memphis            76433.333333   76866.666667  ...
Massachusetts        Boston            279000.000000  285500.000000  ...
District of Columbia Washington        183966.666667  192800.000000  ...
Oregon               Portland          162900.000000  165666.666667  ...
Tennessee            Nashville         122000.000000  122766.666667  ...
California           Sacramento        168833.333333  176266.666667  ...
...                                              ...            ...  ...
Iowa                 Urbana             89466.666667   92966.666667  ...
Florida              Mexico Beach      165466.666667  172133.333333  ...
Wisconsin            Cambridge         141933.333333  144533.333333  ...
Delaware             Dewey Beach                 NaN            NaN  ...
Washington           Ronald            140666.666667  141433.333333  ...
Illinois             Warren                      NaN            NaN  ...
New York             Saint Johnsville   32233.333333   32966.666667  ...

In [134]:
hous_df.shape

(13108, 67)

In [135]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    hous_df = pd.read_csv('City_Zhvi_AllHomes.csv', encoding='latin-1')
    hous_df['State'] = hous_df['State'].map(states)
    hous_df = hous_df.set_index(["State","RegionName"])
    columns = hous_df.columns
    selected_columns = []
    for col in columns:
        try:
            if int(col[:4]) >= 2000 and int(col[:4]) < 2017:
                selected_columns.append(col)
        except:
            continue
    hous_df = hous_df[selected_columns]
    hous_df = hous_df.groupby(pd.PeriodIndex(hous_df.columns, freq='Q'), axis=1).mean()
    hous_df = hous_df.drop(hous_df.columns[len(hous_df.columns)-1], axis=1)
    
    return hous_df

In [171]:
data = convert_housing_data_to_quarters().copy()
cols = data.columns.map(str)
#cols2 = data.columns.strftime('%YQ%m')
#cols = data.columns.to_list()
#cols = data.columns.to_list()
new_cols = []
for col in cols:
    col = str(col)
    new_cols.append(col)
cols

Index(['2000Q1', '2000Q2', '2000Q3', '2000Q4', '2001Q1', '2001Q2', '2001Q3',
       '2001Q4', '2002Q1', '2002Q2', '2002Q3', '2002Q4', '2003Q1', '2003Q2',
       '2003Q3', '2003Q4', '2004Q1', '2004Q2', '2004Q3', '2004Q4', '2005Q1',
       '2005Q2', '2005Q3', '2005Q4', '2006Q1', '2006Q2', '2006Q3', '2006Q4',
       '2007Q1', '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
       '2008Q4', '2009Q1', '2009Q2', '2009Q3', '2009Q4', '2010Q1', '2010Q2',
       '2010Q3', '2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1',
       '2012Q2', '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
       '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2', '2015Q3',
       '2015Q4', '2016Q1', '2016Q2', '2016Q3'],
      dtype='object')

In [159]:
df = convert_housing_data_to_quarters().copy()
cols = df.columns.to_list()
new_cols = []
for col in cols:
    col = str(col)
    new_cols.append(col)
df.columns = new_cols
df = df.loc[:,'2008Q3':'2009Q2']
df = df.reset_index()
def price_ratio(row):
    return (row['2008Q3'] - row['2009Q2'])/row['2008Q3']
    
df['up_down'] = df.apply(price_ratio,axis=1)
#uni data 
    
uni_town = get_list_of_university_towns()['RegionName']
uni_town = set(uni_town)

def is_uni_town(row):
    #check if the town is a university towns or not.
    if row['RegionName'] in uni_town:
        return 1
    else:
        return 0
df['is_uni'] = df.apply(is_uni_town,axis=1)
    
    
not_uni = df[df['is_uni']==0].loc[:,'up_down'].dropna()
is_uni  = df[df['is_uni']==1].loc[:,'up_down'].dropna()
def better():
    if not_uni.mean() < is_uni.mean():
        return 'non-university town'
    else:
        return 'university town'
p_val = list(ttest_ind(not_uni, is_uni))[1]
result = (True,p_val,better())
result

(True, 0.7046642292638823, 'university town')

In [160]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    df = convert_housing_data_to_quarters().copy()
    cols = df.columns.to_list()
    new_cols = []
    for col in cols:
        col = str(col)
        new_cols.append(col)
    df.columns = new_cols
    df = df.loc[:,'2008Q3':'2009Q2']
    df = df.reset_index()
    def price_ratio(row):
        return (row['2008Q3'] - row['2009Q2'])/row['2008Q3']

    df['up_down'] = df.apply(price_ratio,axis=1)
    #uni data 

    uni_town = get_list_of_university_towns()['RegionName']
    uni_town = set(uni_town)

    def is_uni_town(row):
        #check if the town is a university towns or not.
        if row['RegionName'] in uni_town:
            return 1
        else:
            return 0
    df['is_uni'] = df.apply(is_uni_town,axis=1)


    not_uni = df[df['is_uni']==0].loc[:,'up_down'].dropna()
    is_uni  = df[df['is_uni']==1].loc[:,'up_down'].dropna()
    def better():
        if not_uni.mean() < is_uni.mean():
            return 'non-university town'
        else:
            return 'university town'
    p_val = list(ttest_ind(not_uni, is_uni))[1]
    result = (True,p_val,better())
    return result

run_ttest()

(True, 0.7046642292638823, 'university town')